@use "variables"as vars;
@use 'mixins' as mixins;

.header {
    background: lighten(vars.$background, $amount: 20);
}

.logoWrapper {
    @include mixins.flexbox;
    @include mixins.flex-direction;
    @include mixins.justify-content($value: space-between);
    @include mixins.align-items;
    padding: vars.$measure;
    
    & img {
        width: 50px;
    }

    & .logo {
        @include mixins.flexbox;
        @include mixins.flex-direction;
        @include mixins.align-items;
        color: #fff;
    }

    & h1 {
        text-decoration: none;
        padding: vars.$measure / 3;
    }

    & input {
        margin: vars.$measure / 3;
    }
}

.filterPanel {
    @include mixins.flexbox;
    @include mixins.flex-direction;
    @include mixins.align-items;
    
}

.addPanel {
    @include mixins.flexbox;
    @include mixins.flex-direction;
    @include mixins.justify-content($value: space-between);
    @include mixins.align-items;
    padding: vars.$measure vars.$measure*3 vars.$measure vars.$measure*2;
}


