@use 'variables'as vars;
@use 'mixins'as mixins;

.categoriesColumnTitle {
    padding-bottom: vars.$measure;
    cursor: pointer;
    
}

.categoriesColumnTitleActive {
    color: #424242;
    padding-bottom: vars.$measure;
    cursor: pointer;
}

.categories {

    & ul {
        padding: 0;
        margin: 0;
    }

    & li {
        margin-bottom: vars.$measure;
        position: relative;
        background: lighten(vars.$primary, 10);
        z-index: 0;
        overflow: hidden;
        padding: vars.$measure;
        box-shadow: inset vars.$shadow;
        display: block;
        cursor: pointer;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: lighten(vars.$primary, 0);
            top: 0;
            left: 0;
            z-index: -1;
            transition: .3s;
            transform: translateX(-100%);
        }

        &:hover::after {
            transform: translateX(0);
        }
    }
}

.selectedCategoryList .categoryList {
    background: lighten(vars.$primary, 0);
    box-shadow: none;
}

.categoryList {
    @include mixins.flexbox;
    @include mixins.flex-direction;
    @include mixins.align-items;
}
